*{
    margin: 5px black;
    box-sizing: content-box;
    font-family: 'Times New Roman', Times, serif;
}


/* -------------------header---------------------*/

.navbar{
    margin: 10px;
    background-color: transparent;
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    position: relative;
    z-index: 999;
    top: 0;
}

.navbar_contain{
    display: flex;
    justify-content: space-between;
    height: 70px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0;
    padding: 0 50px;
}

#navbar_logo{
    background-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration:none;
    font-size: 2rem;
}



.navbar_contain img{
    height: 50px;
    width: 60px;
    background: transparent;
}


.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item{
    height: 70px;
}


.navbar_link{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_link:hover{
    background-color: transparent;
    background-position: 1px;
    border-radius: 10px;
    margin: 5px;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(1px, 0px) rotate(1deg); }
    30% { transform: translate(3px, -2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, -1px) rotate(-1deg); }
    80% { transform: translate(-1px, -3px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/*--------------------Home-----------------*/

.home{
    padding: 50px;
    background-color: #f0fff0;

}

.home img{
    height: 500px;
    width: 300px;
    margin: 0 40%;
    border-radius: 150px;
    border: 1px solid #ddd;
  padding: 5px;
}

.home img:hover{
    box-shadow: 5px 5px 8px blue, 10px 10px 8px #f0fff0, 15px 15px 8px green inset;
  cursor: pointer;
  animation: shake 0.900s;
  animation-iteration-count: infinite;
}

.home h1{
    margin-top: 30px;
    margin-left: 42%;
    margin-right: 40%;
}


.home h1:hover{
    box-shadow: red;
    color: royalblue;
}


/*-------------------About Us----------------*/

.aboutus{
    background-color: blue;
    padding: 50px;
    align-self: center;
    
}

.aboutus h1{
    text-align: center;
}


/*------------------Technology-------------------*/

.tech{
    background-color: antiquewhite;
    padding: 50px;
    padding-bottom: 50px;
}

.tech h2{
    text-align: center;
    color: red;
    padding-bottom: 50px;
}

.progress{
    align-items: center;
    border-radius: 50px;
}
.progress-bar{
    background-color: #000;
    border-radius: 50px;
}

.progress-bar-danger{
    background-color: greenyellow;
}

.tech p{
    text-align: center;
    font-size: 19px;
}


/*--------------Contact Us-------------*/


.contactus{
    padding-top: 50px;
    text-align: center;
    background-color: burlywood;
    
}

.contactus p{
    font-size: 20px;
}

input[type=text],[type=email]{
    width: 40%;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px 0;
}

textarea{
    width: 40%;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px 0;
}


input[type=text]:hover,[type=email]:hover{
    width: 50%;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px 0;
}

textarea:hover{
    width: 50%;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px 0;
}



@media screen and (max-width:960px) {
 
    /*header*/
    
.navbar{
    margin: 5px;
    background-color: transparent;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    position: relative;
    z-index: 999;
    top: 0;
}

.navbar_contain{
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 1;
    width: 100%;
    max-width: 1100px;
    margin: 0;
    padding: 0 50px;
}

#navbar_logo{
    background-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration:none;
    font-size: 2rem;
}



.navbar_contain img{
    height: 50px;
    width: 60px;
    background: transparent;
}


.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item{
    height: 70px;
}


.navbar_link{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 110%;

}

.navbar_link:hover{
    background-color: transparent;
    background-position: 1px;
    border-radius: 90px;
    margin: 5px;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


  /*home*/

  .home{
    padding: 50px;
    background-color: #f0fff0;

}

.home img{
    height: 500px;
    width: 300px;
    margin: 0 35.5%;
    border-radius: 150px;
    border: 1px solid #ddd;
  padding: 5px;
}

.home img:hover{
    box-shadow: 5px 5px 8px blue, 10px 10px 8px #f0fff0, 15px 15px 8px green inset;
  cursor: pointer;
  animation: shake 0.900s;
  animation-iteration-count: infinite;
}

.home h1{
    margin-top: 30px;
    margin-left: 38%;
    margin-right: 30%;
}


.home h1:hover{
    box-shadow: red;
    color: royalblue;
}




}


